# Ignorar archivos y carpetas generadas automáticamente
*.log
*.tmp
*.cache
*.iml
*.pyc
*.class
.DS_Store
Thumbs.db

# Ignorar carpetas de configuración de IDEs
.idea/
.vscode/
__pycache__/

# Ignorar dependencias y entornos virtuales
node_modules/
venv/
.env
*.lock

# Ignorar archivos de compilación y binarios
build/
dist/
target/

# Ignorar archivos específicos del sistema operativo
*.swp
